.center{
	margin:auto;
	width:30%;
	
}
.center_venta_busqueda{
		margin:auto;
	width:70%;
}
.center_venta_lista_productos{
	margin:auto;
	width:70%;
}
#header{
	font-size: 1cm;
	text-align: center;
	
}
.left{
	position: absolute;
	left: 130px;
	
	top: 40px;
}
